* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.774);
}
header {
    width: 100%;
    height: 200px;
    background: rgb(30, 18, 171);
    background: linear-gradient(
        90deg,
        rgba(30, 18, 171, 1) 0%,
        rgba(121, 9, 107, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background-size: 300% 200%;
    color: rgb(253, 253, 253);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
header h1 {
    color: rgb(235, 57, 12);
    font-family: "Quicksand", sans-serif;
    font-size: 4vw;
}
header h3 {
    /*font-family: "Bungee Spice", cursive;*/
    font-family: "Quicksand", sans-serif;
    font-size: 1.5vw;
}
header p {
    font-family: "Raleway", sans-serif;
    font-size: 1vw;
}
.logo {
    margin-right: 30px;
}
.logo img {
    width: 100px;
    border-radius: 50px;
}
.introducao {
    width: 70%;
}
.iframe {
    background: rgb(30, 18, 171);
    background: linear-gradient(
        90deg,
        rgba(30, 18, 171, 1) 0%,
        rgba(121, 9, 107, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background-size: 300% 200%;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

#principal {
    display: flex;
    flex-wrap: wrap;
}
.principal-privacidade {
    background-color: white;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1vw;
    box-sizing: border-box;
    padding: 50px;
    text-align: justify;
}
.itens {
    width: 347px;
    height: auto;
    margin: 30px auto;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    background-color: rgba(112, 8, 133, 0.527);
    color: white;
    text-align: center;
}
.itens:hover {
    background-color: rgba(241, 54, 7, 0.938);
    transform: scaleX(1.1);
    transition: 1s linear;
    cursor: pointer;
}
.itens img {
    width: 347px;
    height: 160px;
    border-radius: 10px;
}
.itens h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.4vw;
    margin-bottom: 20px;
}
.itens a {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5vw;
    color: white;

    background-color: #ff3400;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    transform: scaleX(1.1);
    transition: 1s linear;
    cursor: pointer;
}
.itens a:hover {
    color: white;
    background-color: #a40beb;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.infor {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}
.infor div {
    background: rgb(30, 18, 171);
    background: linear-gradient(
        90deg,
        rgba(30, 18, 171, 1) 0%,
        rgba(121, 9, 107, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background-size: 300% 200%;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
}
.infor h4 {
    font-family: "Quicksand", sans-serif;
    font-size: 2vw;
    padding: 20px;
    color: white;
}
.infor p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.4vw;
    color: white;
}
footer {
    width: 100%;
    height: 70px;
    background: rgb(30, 18, 171);
    background: linear-gradient(
        90deg,
        rgba(30, 18, 171, 1) 0%,
        rgba(121, 9, 107, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background-size: 300% 200%;
    color: rgb(253, 253, 253);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
footer span {
    font-family: "Quicksand", sans-serif;
    font-size: 1.4vw;
    color: white;
    font-weight: bold;
}
footer a {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 1vw;
    color: white;
    font-weight: bold;
    margin-left: 80px;
}

    @media screen and (min-width: 300px) and (max-width: 768px) {
    .introducao {
        text-align: justify;
        box-sizing: border-box;
    }
    .logo {
        padding-top: 50px;
        box-sizing: border-box;
    }
    .introducao h1 {
        font-family: "Raleway", sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .introducao h3 {
        font-family: "Quicksand", sans-serif;
        font-size: 13px;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .iframe {
        margin-bottom: 30px;
        padding-top: 50px;
    }
    #principal {
        width: 100%;
    }
    .itens {
        margin-top: 10px;
        width: 80%;
    }
    .itens img {
        width: 40vh;
    }
    .itens h2 {
        font-family: "Quicksand", sans-serif;
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }
    .itens a {
        font-family: "Quicksand", sans-serif;
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }
    .infor {
        text-align: justify;
    }
    .infor h4 {
        text-align: center;
        font-family: "Quicksand", sans-serif;
        font-size: 1.2rem;
        color: white;
        font-weight: bold;
    }
    .infor p {
        font-family: "Quicksand", sans-serif;
        font-size: 13px;
        color: rgb(255, 254, 254);
        line-height: 1.5em;
    }
    footer {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    footer span {
        font-family: "Quicksand", sans-serif;
        font-size: 10px;
        color: white;
    }
    footer a {
        font-family: "Quicksand", sans-serif;
        font-size: 10px;
        color: white;
    }
}
